* {
  box-sizing: border-box;
}

:root {
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  background: #fffaf5;
  font-family: "Sora", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* Những thẻ này có font-family mặc định nên không được kế thừa lại */
input,
textarea,
select,
button {
  /* Cho nó kế thừa lại nên dùng inherit */
  font-family: inherit;
  font-size: inherit;
}

/* ==== Header ===== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;
  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  color: #000958;
  border: 1px solid rgba(0, 9, 88, 0.7);
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.btn {
  opacity: 0.9;
}

.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.header-action__link,
.navbar__link {
  padding: 8px 18px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  color: #5e6085;
}

.navbar__link:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;
  min-width: 118px;
}
